[Unit]
Description=Webcam grabber (m3u8)
Wants=basic.target
After=basic.target network.target

[Service]
#User=webcam-grabber-m3u8
#Group=webcam-grabber-m3u8
ExecStart=/usr/local/bin/webcam-grabber-m3u8
StartLimitInterval=0

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

Environment=LD_LIBRARY_PATH=/usr/local/ffmpeg/lib
WorkingDirectory=/etc/webcam-grabber-m3u8
#CPUQuota=10%
#MemoryLimit=256M

[Install]
WantedBy=multi-user.target
